<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawl.io - Image</title>
    <link rel="shortcut icon" href="/image/data-encryption.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/materia/bootstrap.min.css"
        integrity="sha384-uKLgCN8wZ+yo4RygxUNFhjywpL/l065dVTzvLuxys7LAIMmhZoLWb/1yP6+mF925" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <style>
        .box-container {
            height: 100vh;
            background-color: #ECEFF1;
        }

        .img-container {
            position: relative;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .img-container:hover .image {
            opacity: 0.3 !important;
        }

        .img-container:hover .middle {
            opacity: 1;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning py-0">
        <div class="container">
            <a class="navbar-brand" href="/">Crawl-io</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/image">Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="app" class="container">
        <div class="card p-4 mt-4">
            <div class="form-group">
                <label for="website-url" class="h4">Website url:</label>
                <input id="website-url" v-model="url" class="form-control" type="text"
                    placeholder="Ex: https://abc.com/gallery" aria-describedby="website-help">
                <small id="website-help">Enter address of the website you want to crawl</small>
            </div>
            <div class="form-group">
                <label for="selector-input" class="h4">Selector:</label>
                <input id="selector-input" v-model="selector" class="form-control" type="text"
                    placeholder="Ex: div.gallery > img.thumbnail" aria-describedby="selector-help">
                <small id="selector-help">Selector to select element</small>
            </div>
            <div>
                <button class="btn btn-warning" @click="crawlImage" :disabled="!enableCrawl || isCrawling">
                    <span v-if="isCrawling" class="spinner-grow spinner-grow-sm mx-4" role="status">
                        <span class="sr-only">Crawling...</span>
                    </span>
                    <span v-else>
                        Crawl image
                    </span>
                </button>

            </div>
        </div>
        <div v-if="listImage && listImage.length" class="card my-4">
            <div class="d-flex justify-content-between align-items-center px-2 pt-1">
                <h3 class="text-center text-info mt-2 mb-0">Results: {{listImage.length}} image<span
                        v-if="listImage.length > 1">s</span></h3>
                <button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Download all" @click="downloadAllImage"><i
                        class="fas fa-download"></i></button>
            </div>
            <hr class="mt-2 mb-0">
            <div class="row text-center text-lg-left p-2">
                <div v-for="(url, index) in listImage" :key="'img-' + index"
                    class="col-lg-3 col-md-4  col-sm-6 col-12 my-1">
                    <div class="img-container">
                        <img class="img-fluid img-thumbnail image" :src="url" alt="" style="width:100%">
                        <div class="middle">
                            <a :href="url" target="_blank" data-toggle="tooltip" data-placement="top"
                                title="View image">
                                <button class="btn btn-sm btn-success no-radius">
                                    <i class="fas fa-external-link-alt"></i>
                                </button>
                            </a>
                            <button class="btn btn-sm btn-success no-radius" data-toggle="tooltip" data-placement="top"
                                title="Download" @click="dowloadImage(url)">
                                <i class="fas fa-download"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex m-4 p-4"></div>
    <div class=" p-1 bg-warning no-radius fixed-bottom">
        <h6 class="text-center text-white"><small>Powered by MDT</small> <span class="h5">☘️</span> </h6>
    </div>
    <script>
        Vue.use($); // use jQuery
        const toastOption = {
            position: "top-center",
            duration: 4000,
            keepOnHover: true,
            singleton: true,
        }
        Vue.use(Toasted, toastOption) // use Vue-Toasted
        const app = new Vue({
            el: "#app",
            data: () => ({
                url: "",
                selector: "",
                listImage: [],
                isCrawling: false
            }),
            mounted() {
                console.log("MOUNTED")
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            },
            methods: {
                crawlImage() {
                    this.isCrawling = true
                    axios.post("/images", {
                            url: this.url,
                            selector: this.selector
                        }).then(res => {
                            console.log("res", res)
                            if (res.status == 200) {
                                this.listImage = res.data;
                                this.deleteStaticImageUrl();
                            }
                        })
                        .catch(err => {
                            console.log("Error: ", err)
                        })
                        .finally(() => {
                            this.isCrawling = false;
                        })
                },
                deleteStaticImageUrl() {
                    this.listImage = this.listImage.filter(url => RegExp("http.*").test(url))
                },
                dowloadImage(url) {
                    this.$toasted.show("Downloading...")
                    const fileName = decodeURIComponent(url.split("/").pop());
                    axios({
                        url: `/images/download`,
                        method: 'POST',
                        responseType: 'blob', // important
                        data: {
                            url
                        }
                    }).then((res) => {
                        if (res.status == 200) {
                            const url = window.URL.createObjectURL(new Blob([res.data]));
                            const link = document.createElement('a');
                            link.href = url;
                            link.setAttribute('download', fileName);
                            document.body.appendChild(link);
                            link.click();
                            this.deleteImage(fileName);
                        } else {
                            this.$toasted.show("Error: can not download file")
                        }
                    }).catch(err => {
                        console.log("Can not download", err);
                        this.$toasted.show("Error: can not download file")
                    });
                },
                async downloadAllImage() {
                    await Promise.all(this.listImage.map(url => this.dowloadImage(url)))
                },
                deleteImage(fileName) {
                    axios.post("/images/delete", {
                        fileName
                    }).then(res => {
                        console.log("Delete api:", res)
                    })
                }

            },
            computed: {
                enableCrawl() {
                    return this.url && this.selector;
                }
            }
        })
    </script>
</body>

</html>